<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="posts" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> All Posts
            </NavLink>

            <!-- Subforums Subsection -->
            <div class="nav-item px-3 ms-3">
                <NavLink class="nav-link" href="/add-subforum">
                    <span class="bi bi-pencil-square-nav-menu" aria-hidden="true"></span> Subforums
                </NavLink>
            </div>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="add-user">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Add User
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> User Management
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="create-post">
                <span class="bi bi-pencil-square-nav-menu" aria-hidden="true"></span> Create Post
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="post-management">
                <span class="bi bi-pencil-square-nav-menu" aria-hidden="true"></span> Post Management
            </NavLink>
        </div>
    </nav>
</div>